$primary: #32c3ff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
html,
body,
.App,
#root {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  justify-content: space-around;
}

.App {
  text-align: center;
  --color1: #00120b;
  --color2: #35605a;
  --color3: #6b818c;
  --color4: #d8e4ff;
  --color5: #31e981;
  background: var(--color4);
  height: 200%;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: var(--color3);
    padding: 1% 1% 0.5%;
    color: var(--color4);

    a {
      // color: white;
      padding: 0 5px;
      text-decoration: unset;
      color: var(--color4);
      // font-size: 2rem;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    // font-size: 3rem;
    margin: 4% 0 1%;
    color: var(--color5);
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.nav-bar {
  justify-content: flex-end;
}

.user {
  margin-right: auto;
  padding: 1px 2px;
}

@media only screen and (max-width: 600px) {
  .App-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .App-header a {
    font-size: 2rem;
  }

  .App-title {
    font-size: 3rem;
  }

  .user {
    font-size: 2rem;
  }
}

iframe {
  width: 80%;
}

.Home h2 {
  color: var(--color1);
}
